<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDye0LezaumR_EPigl7TlyXslW8QC3B210</string>
	<key>GCM_SENDER_ID</key>
	<string>379704690015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fridgeTracker</string>
	<key>PROJECT_ID</key>
	<string>fridge-tracker-6f1cc</string>
	<key>STORAGE_BUCKET</key>
	<string>fridge-tracker-6f1cc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379704690015:ios:893e68d29c34b9b6f022ea</string>
</dict>
</plist>